<%- include('includes/header_image.ejs') %>
<!-- <style>
    body {
  background-image: url('/img/queretaro-dark.jpg');
  background-size: cover;
}
</style> -->
<link rel="stylesheet" href="/css/style_evento.css">

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container" style="margin-bottom: 10%;">
    <% if (guias.length > 0) { %>
        <h1 class="white-text">Guías</h4>
        <div class="white" style="padding-top: 2em; padding-bottom: 2em;">
            <% for (guia of guias) { %> 
            <div class="row center valign-wrapper ">
                <div class="col s3">
                    <img src=<%= guia.imagen_guia %> style="width: fit-content; height: 100px; border-radius: 9px;">
                </div>
                <div class="col s6">
                    <div class="row">
                        <h5 class="left" style="margin: 0 0 0 0 !important;"><%= guia.nombre_guia %> </h5>
                    </div>
                    <div class="row truncate" style="margin-bottom: 5px !important; border: 1px solid black; border-radius: 10px; padding: 10px;">
                        <%= guia.desc_guia %> 
                    </div>
                    <div class="row" style="border: 1px dashed black; border-radius: 10px;">
                        <%= guia.video_guia %> 
                    </div>
                </div>
                <div class="col s3">
                        <a class="blue-gradient-btn btn-large hoverable" href="/guias/editar_guia/<%=guia.id_guia%>">
                            Editar Guía
                        </a>
                        <a class="red-gradient-btn btn-small hoverable" href="/guias/eliminar_guia/<%=guia.id_guia%>" style="margin-top: 10px;">
                            Eliminar Guía
                        </a>
                </div>
            </div>
            <% } %>
            <div class="row center valign-wrapper">
                <div class="col s3">
                        <a class="grey-gradient-btn btn-large hoverable" href="/guias/agregar_guia" style="width: fit-content; border-radius: 9px; text-align: center;">
                            <i class="material-icons">add</i>
                            Agregar
                        </a>
                </div>
                <div class="col s6">
                    col4.2
                </div>
                <div class="col s3">
                    col4.3
                </div>
            </div>
            
        </div>
    <% } else { %>
        <h1 class="white-text"> NO HAY GUIAS AGREGADAS</h1> 
        <div class="col s3">
            <a class="grey-gradient-btn btn-large hoverable" href="/guias/agregar_guia" style="width: fit-content; border-radius: 9px; text-align: center;">
                <i class="material-icons">add</i>
                Agregar
            </a>
        </div>
    <% } %>         

</div>


<%- include('includes/footer.ejs') %>