<% for (let evento of eventos){%>
  <li class="card-pers card-panel z-depth-3 border-radius-6 mt-10 card-animation-1 col s1">
    <a class="margin-0 center-align">
      <img class="imgr border-radius-8 z-depth-4 image-n-margin" src="/uploads/<%=evento.multimedia_evento%>">
    </a>
    <h6 class="primary-color-txt text-darken-3 mt-5"><b>
        <%=evento.info_evento%>
      </b></h6>

    <p> Fecha Inicio: <%=evento.fecha_hora_evento.substring(0,10)%>
    </p>
    <p>Fecha Fin: <%=evento.fecha_hora_evento.substring(11,21)%>
    </p>
    <p>Hora Inicio: <%=evento.fecha_hora_evento.substring(22,27)%>
    </p>
    <p>Hora Fin: <%=evento.fecha_hora_evento.substring(27,39)%>
    </p>
    <p>
      Tags:
      <% for (let tag of tags){%>
        <% if (evento.id_evento==tag.id_evento_tag){ %>
          <%= tag.nom_tag %>
            <%}%>
              <%}%>
    </p>

    <div class="display-flex justify-content-between flex-wrap  mt-4">
      <div class="display-flex mt-3 right-align social-icon">
        <a onclick="deleteEvento(this)" id="<%=evento.id_evento%>" class="primary-color-txt"> <i
            class="material-icons">delete</i> </a>
      </div>
    </div>
  </li>
  <%}%>