<%- include('includes/header_image.ejs') %>
<link rel="stylesheet" href="/css/style_evento.css">

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="container" style="margin-bottom: 10%;">
    <% if (links.length > 0) { %>
        <h1 class="white-text">Links</h4>
        <div class="white" style="padding-top: 2em; padding-bottom: 2em;">
            <% for (link of links) { %>
                <div class="row center valign-wrapper ">
                    <div class="col s3">
                        <div class="row center">
                            <h5 class="center" style="margin: 0 0 0 0 !important;">
                                <%= link.nombre_link %>
                            </h5>
                        </div>
                    </div>
                    <div class="col s9">
                        <div class="row" style="border: 1px dashed black; border-radius: 10px;">
                            <h6 class="center" style="margin: 5px 0 5px 0 !important;">
                                <a class="clickable-link" href="<%=link.link%>"><%= link.link %></a>
                            </h6>
                        </div>
                    </div>
                    <div class="col s3">
                        <div class="row">
                            <a class="red-gradient-btn btn-small hoverable" onclick="deleteLink(this)" id="<%=link.id_link%>" style="margin-top: 10px;">
                                Eliminar Link
                            </a>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="row center valign-wrapper">
                <div class="col s3">
                    <a class="blue-gradient-btn btn-large hoverable" href="/links/agregarLink">
                        <i class="material-icons left">add</i>
                        Agregar
                    </a>
                </div>
                <div class="col s6"></div>
                <div class="col s3"></div>
            </div>
        </div>
    <% } else { %>
        <h1 class="white-text"> No hay links agregados </h1>
        <div class="col s3">
            <a class="blue-gradient-btn btn-large hoverable" href="/links/agregarLink" style="width: fit-content; border-radius: 9px; text-align: center;">
                <i class="material-icons left">add</i>
                Agregar
            </a>
        </div>
    <% } %>
</div>

<script src="/js/script_delete_user.js"></script>

<%- include('includes/footer.ejs') %>