<%- include('includes/header_image.ejs') %>
  <main class="img-background">
    <% for (let museo of museos){%>
    <div class="row">
      <div class="col s10 offset-s1">
        <span class="white-text card-title">
          <span style="font-size:40px"><%=museo.nom_museo%> </span> <div><a href="/"> Página principal </a> > <a href="/museo/<%= museo.id_museo %>"><%=museo.nom_museo%></a></div>
      </span>
        <div class="card">
          <input id="id_museo" value="<%= museo.id_museo %>" style="display:none">
          <div class="card-content pb-0">
            <div class="card-header mb2">
            </div>
            <form id="uploadForm" class="modifyForm" enctype="multipart/form-data">
              <ul class="stepper horizontal">
                <li class="step active">
                  <div class="step-title waves-effect">
                    <p>Información</p>
                  </div>
                  <div class="step-content">
                    <div class="row">
                      <div class="col s7">

                        <!-- NOMBRE -->
                        <div class="row center">
                          <div class="col s10 offset-s1">
                            <div class="input-field">
                              <input id="nom_museo" name="nom_museo" type="text" class="validate" required
                                data-length="70" maxlength="70" value="<%= museo.nom_museo %>">
                              <label for="nom_museo"> Nombre del Museo <span class="required">*</span></label>
                              <span class="helper-text" data-error="Este input es requerido"></span>
                            </div>

                            <!-- TELÉFONO -->
                            <div class="input-field">
                              <input id="num_museo" name="num_museo" type="number" class="validate" required
                                maxlength="10" value="<%= museo.num_museo %>" />
                              <label for="num_museo"> Teléfono de contacto <span class="required">*</span></label>
                              <span class="helper-text" data-error="Este input es requerido"></span>
                            </div>

                            <!-- DIRECCIÓN -->
                            <div class="input-field">
                              <input name="ubicacion_museo" id="ubicacion_museo" type="text" class="validate" required
                                data-length="50" maxlength="50" value="<%= museo.ubicacion_museo %>">
                              <label for="ubicacion_museo"> Dirección <span class="required">*</span></label>
                              <span class="helper-text" data-error="Este input es requerido"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col s5">

                        <div class="col s9 offset-s2">
                          <input type="text" name="event" id="event" value="museo" style="display:none">
                          <input type="text" name="filename" value="<%=museo.imgP_museo%>" id="filename" style="display:none">
                          <div id="imgMuseoValidate"> Selecciona una imagen para el museo </div>
                          <div class="card imgPicker">
                            <div class="card-image">
                              <img class="imgPicker imgP" src="/uploads/museos/<%=museo.imgP_museo%>">
                              <div class="primary-color waves-effect waves-light btn-floating halfway-fab button-upload"
                                onclick="uploadFile.click()"><i class="material-icons">edit</i></div>
                              <input class="file-upload" type="file" name="uploadFile" id="uploadFile"
                                style="display:none" accept="image/*">
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="step-actions">
                      <div class="row">
                        <div class="col"> <button class="waves-effect waves dark btn light-blue-secondary next-step"
                            type="reset"> Siguiente <i class="material-icons right"> arrow_forward </i> </button> </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="step">
                  <div class="step-title waves-effect"> Horarios </div>
                  <div class="step-content">
                    <!-- Horarios -->
                    <div class="row">
                      <div class="col s6">
                        <ul class="collapsible">
                          <li id="li_l">
                            <div id="header_l" class="collapsible-header">
                              <div class="switch">
                                <span style="margin-right:30px"> Lunes - ¿Este día abre el museo? </span>
                                <label>
                                  No
                                  <input id="checkbox_lun" type="checkbox">
                                  <span class="lever"></span>
                                  Sí
                                </label>
                              </div>
                            </div>
                            <div class="collapsible-body">
                              <div class="row pb-0 mb-0">
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_inicio_lun" name="hr_inicio_lun" type="time" class="padding-0 margin-0"
                                    value="10:00">
                                  <label for="hr_inicio_lun"> Hora inicio <span class="required">*</span></label>
                                </div>
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_fin_lun" name="hr_fin_lun" type="time" class="padding-0 margin-0"
                                    value="17:00">
                                  <label for="hr_fin_lun"> Hora inicio <span class="required">*</span></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li id="li_m">
                            <div id="header_m" class="collapsible-header">
                              <div class="switch">
                                <span style="margin-right:30px"> Martes - ¿Este día abre el museo? </span>
                                <label>
                                  No
                                  <input id="checkbox_mar" type="checkbox">
                                  <span class="lever"></span>
                                  Sí
                                </label>
                              </div>
                            </div>
                            <div class="collapsible-body">
                              <div class="row pb-0 mb-0">
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_inicio_mar" name="hr_inicio_mar" type="time" class="padding-0 margin-0"
                                    value="10:00">
                                  <label for="hr_inicio_mar"> Hora inicio <span class="required">*</span></label>
                                </div>
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_fin_mar" name="hr_fin_mar" type="time" class="padding-0 margin-0"
                                    value="17:00">
                                  <label for="hr_fin_mar"> Hora inicio <span class="required">*</span></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li id="li_w">
                            <div id="header_w" class="collapsible-header">
                              <div class="switch">
                                <span style="margin-right:30px"> Miércoles - ¿Este día abre el museo? </span>
                                <label>
                                  No
                                  <input id="checkbox_mie" type="checkbox">
                                  <span class="lever"></span>
                                  Sí
                                </label>
                              </div>
                            </div>
                            <div class="collapsible-body">
                              <div class="row pb-0 mb-0">
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_inicio_mie" name="hr_inicio_mie" type="time" class="padding-0 margin-0"
                                    value="10:00">
                                  <label for="hr_inicio_mie"> Hora inicio <span class="required">*</span></label>
                                </div>
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_fin_mie" name="hr_fin_mie" type="time" class="padding-0 margin-0"
                                    value="17:00">
                                  <label for="hr_fin_mie"> Hora inicio <span class="required">*</span></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li id="li_j">
                            <div id="header_j" class="collapsible-header">
                              <div class="switch">
                                <span style="margin-right:30px"> Jueves - ¿Este día abre el museo? </span>
                                <label>
                                  No
                                  <input id="checkbox_jue" type="checkbox">
                                  <span class="lever"></span>
                                  Sí
                                </label>
                              </div>
                            </div>
                            <div class="collapsible-body">
                              <div class="row pb-0 mb-0">
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_inicio_jue" name="hr_inicio_jue" type="time" class="padding-0 margin-0"
                                    value="10:00">
                                  <label for="hr_inicio_jue"> Hora inicio <span class="required">*</span></label>
                                </div>
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_fin_jue" name="hr_fin_jue" type="time" class="padding-0 margin-0"
                                    value="17:00">
                                  <label for="hr_fin_jue"> Hora inicio <span class="required">*</span></label>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="col s6">
                        <ul class="collapsible">
                          <li id="li_v">
                            <div id="header_v" class="collapsible-header">
                              <div class="switch">
                                <span style="margin-right:30px"> Viernes - ¿Este día abre el museo? </span>
                                <label>
                                  No
                                  <input id="checkbox_vie" type="checkbox">
                                  <span class="lever"></span>
                                  Sí
                                </label>
                              </div>
                            </div>
                            <div class="collapsible-body">
                              <div class="row pb-0 mb-0">
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_inicio_vie" name="hr_inicio_vie" type="time" class="padding-0 margin-0"
                                    value="10:00">
                                  <label for="hr_inicio_vie"> Hora inicio <span class="required">*</span></label>
                                </div>
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_fin_vie" name="hr_fin_vie" type="time" class="padding-0 margin-0"
                                    value="17:00">
                                  <label for="hr_fin_vie"> Hora inicio <span class="required">*</span></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li id="li_s">
                            <div id="header_s" class="collapsible-header">
                              <div class="switch">
                                <span style="margin-right:30px"> Sábado - ¿Este día abre el museo? </span>
                                <label>
                                  No
                                  <input id="checkbox_sab" type="checkbox">
                                  <span class="lever"></span>
                                  Sí
                                </label>
                              </div>
                            </div>
                            <div class="collapsible-body">
                              <div class="row pb-0 mb-0">
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_inicio_sab" name="hr_inicio_sab" type="time" class="padding-0 margin-0"
                                    value="10:00">
                                  <label for="hr_inicio_sab"> Hora inicio <span class="required">*</span></label>
                                </div>
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_fin_sab" name="hr_fin_sab" type="time" class="padding-0 margin-0"
                                    value="17:00">
                                  <label for="hr_fin_sab"> Hora inicio <span class="required">*</span></label>
                                </div>
                              </div>
                            </div>
                          </li>
                          <li id="li_d">
                            <div id="header_d" class="collapsible-header">
                              <div class="switch">
                                <span style="margin-right:30px"> Domingo - ¿Este día abre el museo? </span>
                                <label>
                                  No
                                  <input id="checkbox_dom" type="checkbox">
                                  <span class="lever"></span>
                                  Sí
                                </label>
                              </div>
                            </div>
                            <div class="collapsible-body">
                              <div class="row pb-0 mb-0">
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_inicio_dom" name="hr_inicio_dom" type="time" class="padding-0 margin-0"
                                    value="10:00">
                                  <label for="hr_inicio_dom"> Hora inicio <span class="required">*</span></label>
                                </div>
                                <div class="input-field col s6 pb-0 mb-0">
                                  <input id="hr_fin_dom" name="hr_fin_dom" type="time" class="padding-0 margin-0"
                                    value="17:00">
                                  <label for="hr_fin_dom"> Hora inicio <span class="required">*</span></label>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="step-actions">
                      <div class="row">
                        <div class="col"> <button class="waves-effect waves dark btn light-blue-secondary next-step"
                            type="reset"> Siguiente <i class="material-icons right"> arrow_forward </i> </button> </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="step">
                  <div class="step-title waves-effect"> Descripción </div>
                  <div class="step-content">
                    <!-- DESCRIPCIÓN -->
                    <div class="row">
                      <div class="input-field col s10 offset-s1">
                        <textarea id="desc_museo" name="desc_museo" class="materialize-textarea validate"
                          required><%= museo.desc_museo %></textarea>
                        <label for="desc_museo"> Descripción <span class="required">*</span></label>
                        <span class="helper-text" data-error="Este input es requerido"></span>
                      </div>
                    </div>

                    <div class="step-actions">
                      <div class="row">
                        <div class="col"><button type="submit" value="upload" class="btn waves-effect waves-light green"><i class="material-icons left">check</i>
                          Guardar Cambios </button></div>
                        <div class="col"> <button class="btn light-blue-secondary previous-step"> Anterior <i
                              class="material-icons left"> arrow_back </i> </button> </div>
                        
                        <div class="col"> <button class="waves-effect waves dark btn light-blue-secondary next-step" type="reset"> Siguiente <i class="material-icons right"> arrow_forward </i> </button> </div>
                      </div>
                    </div>
                  </div>
                </li>
                
                <li class="step">
                  <div class="step-title waves-effect"> Salas </div>
                  <div class="step-content">
                    <!-- DESCRIPCIÓN -->
                    <div class="row">
                    <a href="/museo/<%=museo.id_museo%>/nueva_sala" class="btn primary-color waves-dark"> Nueva sala</a>
                    <ul id="cards" class="cards" style="padding-top:20px;margin-top:0px">
                      <% for (let sala of salas){%>
                      
                          <li onclick="window.location.href = '/museo/<%=museo.id_museo%>/<%=sala.id_sala%>'" style="cursor: pointer;" class="card-pers card-panel z-depth-2 border-radius-6 mt-10 ">
                            
                            <a class="margin-0 center-align">
                              <img class="imgr border-radius-8 image-n-margin" style="max-height: 130px;" src="/uploads/museos/<%=sala.img_sala%>">
                            </a>
                            <h6 class="primary-color-txt text-darken-3 mt-5 center-align"><b>
                                <%=sala.nom_sala%>
                              </b></h6>
                              <span class="center-align"> <%=sala.desc_sala.substring(0, 30)%></span>
                            
                            
                          </li>
                        
                            <%}%>
                    </ul>
                    </div>
                   
                    <%}%>
                    <div class="step-actions">
                      <div class="row">
                        <div class="col"> <button class="btn light-blue-secondary previous-step"> Anterior <i
                              class="material-icons left"> arrow_back </i> </button> </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </div>
    </div>
    
  </main>
  <script src="/js/script_modify_museum.js"></script>
  <%- include('includes/footer.ejs') %>