<%- include('includes/header.ejs') %><div id="index-banner" class="parallax-container">
<main>
  
  <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header white-text text-lighten-2"> Buenos días, Ricardo Núñez</h1>
        <div class="row">
          <h5 class="header col s12 white-text"> Conoce el estado de Querétaro. Conoce su cultura. </h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="/img/queretaro-dark.jpg" alt="background querétaro"></div>
  </div>


  <div class="container">
      <div class="row flex">
          <div class="col s10">
            <h4 class="text-bold"> Lista de museos </h4>
          </div>
          <div class="col s2">
            
            <a href="/museo/nuevo_museo" style="margin-top: 40px; margin-bottom: 0px;" class="waves-effect waves-light btn primary-color"><i class="material-icons left">add_box</i>Nuevo</a>
          </div>
        
          
       
      </div>
        
      <ul id ="cards" class="cards">
        <% for (let museo of museos){%>
          <%if(museo.status == 1){%>
        <li class="card-panel card-pers hoverable" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/uploads/<%=museo.imgP_museo%>') no-repeat; background-size: cover;">
          
          <div>
            <a class="btn-floating green card-link" style="float:right;margin:0px;margin-left:10px"> <i class="material-icons">edit</i> </a>
            <a onclick="deleteMuseum(this)" id="<%=museo.id_museo%>" class="btn-floating red card-link" style="float:right;margin:0px"> <i class="material-icons">delete</i> </a>
            <h3 class="card-title white-text"><%=museo.nom_museo%></h3>
            
            <div class="card-content white-text">
              <p> Tel: <%=museo.num_museo%> 
              </p>
              <p><%=museo.desc_museo.substring(0, 100)%> . . .</p>
            </div>
          </div>
          
        </li>
        <%}%>
        <%}%>
      </ul>
  </div>
</main>
<script src="/js/script_delete_museo.js"></script>
<%- include('includes/footer.ejs') %>
