<%- include('includes/header.ejs') %>
<link rel="stylesheet" href="/css/stylarbac.css">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header white-text text-lighten-2"> Roles y Usuarios </h1>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="/img/queretaro-dark.jpg" alt="background querétaro"></div>
  </div>

  <div class="container">
    <br>
      <input type="text" placeholder=" Usuario, Correo, Museo">
      <table class="table responsive-table table-hover" id="contenido">
        <thead>
        <tr id="title">
            <th>Correo</th>
            <th>Rol</th>
            <th>Museo</th>
        </tr>
        </thead>
        <tbody>

          <% for (let usuario of usuarios){%>
                <tr>
                      <td><%= usuario.correo_user%></td>
                    <td><%= usuario.id_user%></td>  
                    <td><%= usuario.nom_user%></td>
                    <td> <button class="waves-effect waves-light btn modal-trigger" href="#modal1" onclick="getInfoUser(this)" value="<%=usuario.id_user%>" id="<%=usuario.id_user%>">Modal</button></td>
                </tr>
                <input type="hidden" value="<%=usuario.id_user%>" id="id_user">
                <%}%>
        </tbody>
    </table>
                
    

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content" id="modal_user">
        <div class="row">
    <div class="col s12">

      <div class="col s4" style="text-align: center;">
        <img src="https://img.freepik.com/vector-premium/perfil-avatar-hombre-icono-redondo_24640-14044.jpg?w=2000" height="50%" width="50%"   alt="" class="circle responsive-img">
        <h6 id="nom_user"></h6>
      </div>

      <div class="col s6">
        <div id="correo">
          
        </div>
        <br>
        <br>
        <div>
          <div class="input-field">
          <select id="sl_roles">
          </select>
          <label>Rol</label>
          </div>

          <div class="input-field">
            <select id="sl_museos">
            </select>
            <label>Museos</label>
          </div>

        </div>
      </div>

    </div>
    </div>
    </div>

    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Salir</a>
      <a onclick="updateUser()" class="modal-close waves-effect waves-green btn-flat">Guardar Cambios</a>
    </div>
  </div>
          
      <br>
  </div>


  <script src="/js/script_update_user.js"></script>
  <%- include('includes/footer.ejs') %>