<%- include('includes/header_image.ejs') %>
  <link rel="stylesheet" href="/css/stylarbac.css">

  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>

  <div class="container">

    <br>
    <div class="search_box">
      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar (Nombre, Rol, Museo)">
     
    </div>
    <%if (rol==4){%>
      <button class="waves-effect waves-light btn" href="#modal2" onclick="createUser()">Nuevo Usuario</button>
        <%}%>
    <table id="myTable" class="centered">

      <tr class="header" id="title">
        <th>Nombre</th>
        <th>Rol</th>
        <th>Museo</th>
        <th></th>
      </tr>
      <% for (let usuario of usuarios){%>
        <tr>
          <td>
            <%= usuario.nom_user%>
          </td>
          <td>
            <%= usuario.nom_rol%>
          </td>
          <td>
            <%= usuario.nom_museo%>
          </td>
          <td>
              <% if (rol == 4){%>
                <button class="waves-effect waves-light btn modal-trigger" href="#modal1" onclick="getInfoUser(this)"
                value="<%=usuario.id_user%>" id="<%=usuario.id_user%>">Modificar</button>
                <a onclick="deleteUsuario(this)" id="<%=usuario.id_user%>" class="btn-floating red card-link"
                  style="float:right;margin:0px"> <i class="material-icons">delete</i> </a>    
              <%}%>
             </td>

        </tr>
        <%}%>
    </table>

    <!-- Modal Structure -->
    <div id="modal1" class="modal modal-fixed-footer">
      <div class="modal-content" id="modal_user">
        <div>
          <div class="col s12">
            <div class="col s6">
              <div id="nom_user"></div>
              <div id="correo"></div>
            </div>

            <div class="col s6">
              <div>
                <div class="input-field">
                  <select id="sl_roles">
                  </select>
                  <label>Rol</label>
                </div>
                <div class="input-field">
                  <select id="sl_museos">
                  </select>
                  <label>Museos</label>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="modal-footer">
        <a onclick="closeUser()" class="modal-close waves-effect waves-green btn-flat" id="salir">Salir</a>

        <a onclick="updateUser()" class=" modal-close waves-effect waves-green btn-flat" id="guardar">Guardar
          Cambios</a>
      </div>
    </div>


<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content" id="modal_new_user">
    <div>
      <div class="col s12">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input class="validate" type="text" name="us_nombre" id="us_nombre" required>
          <label for="us_nombre" data-error="wrong" data-success="right">Nombre</label>
          <span class="helper-text" data-error="Campo Requerido" data-success=""></span>
      </div>
    <br><br>
    <div class="input-field col s6">
      <i class="material-icons prefix">mail_outline</i>
      <input class="validate" type="email" name="us_correo" id="us_correo" autocomplete="off" required>
      <label for="us_correo" data-error="wrong" data-success="right">Email</label>
      <span class="helper-text" data-error="Correo incorrecto" data-success="">Terminacion con @</span>
    </div>
    <br><br>
    <div class="input-field col s6">
      <i class="material-icons prefix">lock_outline</i>
      <input class="validate" name="us_password" id="us_password" type="password" minlength="8" autocomplete="off" required>
      <label for="us_password">Contraseña</label>
      <span class="helper-text" data-error="Contraseña Formato no valido (minimo 8 caracteres)" data-success=""></span>
    </div>
  
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat" id="salir" onclick="closeUser2()">Salir</a>
    <a class=" modal-close waves-effect waves-green btn-flat" id="guardar" onclick="createNew()">Crear Nuevo Usuario</a>
  </div>
</div>


  </div>

  <br>
  <br>
  <br>

  <script src="/js/script_update_user.js"></script>
  <script src="/js/script_delete_user.js"></script>
  <script src="/js/script_create_user.js"></script>
  <%- include('includes/footer.ejs') %>