<%- include('includes/header_image.ejs') %>
    <% for (let m of museos){%>
        <% for (let sala of salas){%>
            <main class="img-background">
                <div class="row">
                    
                        <div class="col s10 offset-s1">
                            <h4 class="white-text card-title">
                                <%=sala.nom_sala%>
                            </h4>
                            <input id="id_museo" value="<%=museo%>" style="display:none">
                            <input id="id_sala" value="<%=sala.id_sala%>" style="display:none">
                            <div class="card">
                                <div class="card-content pb-0">
                                    <div class="card-header mb2">
                                    </div>
                                    <form id="modifySala" action="/museo/<%=museo%>" enctype="multipart/form-data">
                                        <ul class="stepper horizontal">
                                            <li class="step active">
                                                <div class="step-title waves-effect">
                                                    <p>Información</p>
                                                </div>
                                                <div class="step-content">
                                                    <div class="row">
                                                        <div class="col s7">

                                                            <!-- NOMBRE -->
                                                            <div class="row center">
                                                                <div class="col s10 offset-s1">
                                                                    <div class="input-field">
                                                                        <input id="nom_sala" name="nom_sala" type="text"
                                                                            class="validate" required data-length="70"
                                                                            maxlength="70" value="<%=sala.nom_sala%>">
                                                                        <label for="nom_sala"> Nombre de la sala <span
                                                                                class="required">*</span></label>
                                                                        <span class="helper-text"
                                                                            data-error="Este input es requerido"></span>
                                                                    </div>

                                                                    <!-- DESCRIPCIÓN -->
                                                                    <div class="input-field">
                                                                        <textarea id="desc_sala" name="desc_sala"
                                                                            class="materialize-textarea validate"
                                                                            required><%=sala.desc_sala%></textarea>
                                                                        <label for="desc_sala"> Descripción <span
                                                                                class="required">*</span></label>
                                                                        <span class="helper-text"
                                                                            data-error="Este input es requerido"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col s5">

                                                            <div class="col s9 offset-s2">
                                                                <input type="text" name="event" id="event" value="museo"
                                                                    style="display:none">
                                                                <input type="text" name="filename" id="filename"
                                                                    value="<%=sala.img_sala%>" style="display:none">
                                                                <div id="imgMuseoValidate"> Selecciona una imagen para
                                                                    la sala </div>
                                                                <div class="card imgPicker">
                                                                    <div class="card-image">
                                                                        <img class="imgPicker imgP"
                                                                            src="/uploads/museos/<%=sala.img_sala%>">
                                                                        <div class="primary-color waves-effect waves-light btn-floating halfway-fab button-upload"
                                                                            onclick="uploadFile.click()"><i
                                                                                class="material-icons">edit</i></div>
                                                                        <input class="file-upload" type="file"
                                                                            name="uploadFile" id="uploadFile"
                                                                            style="display:none" accept="image/*">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="step-actions">
                                                        <div class="row">
                                                            <div class="col"> <button
                                                                    class="waves-effect waves dark btn light-blue-secondary next-step"
                                                                    type="reset"> Siguiente <i
                                                                        class="material-icons right"> arrow_forward </i>
                                                                </button> </div>
                                                            <div class="col"><button type="submit" value="upload"
                                                                    class="btn waves-effect waves-light green"><i
                                                                        class="material-icons left">check</i>
                                                                    Guardar Cambios
                                                                </button></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="step">
                                                <div class="step-title waves-effect"> Obras </div>
                                                <div class="step-content">
                                                  <!-- DESCRIPCIÓN -->
                                                  <div class="row">
                                                    <a href="/museo/<%=m.id_museo%>/<%=sala.id_sala%>/nueva_obra" class="btn primary-color waves-dark"> Nueva obra </a>
                                                    <ul id="cards" class="cards" style="padding-top:20px;margin-top:0px">
                                                        <% for (let obra of obras){%>
                                                        
                                                            <li onclick="window.location.href = '/museo/<%=museo%>/<%=sala.id_sala%>/<%=obra.id_obra%>'" style="cursor: pointer;" class="card-pers card-panel z-depth-2 border-radius-6 mt-10 ">
                                                              
                                                              <a class="margin-0 center-align">
                                                                <img class="imgr border-radius-8 image-n-margin" style="max-height: 130px;" src="/uploads/museos/<%=obra.img_obra%>">
                                                              </a>
                                                              <h6 class="primary-color-txt text-darken-3 mt-5 center-align"><b>
                                                                  <%=obra.nom_obra%>
                                                                </b></h6>
                                                                <span class="center-align"> <%=obra.desc_obra.substring(0, 30)%></span>
                                                              
                                                              
                                                            </li>
                                                          
                                                              <%}%>
                                                      </ul>
                                                      
                                                  </div>
                                                  
                                                  
                                                  
                                                  <div class="step-actions">
                                                    <div class="row">
                                                      <div class="col"> <button class="btn light-blue-secondary previous-step"> Anterior <i
                                                            class="material-icons left"> arrow_back </i> </button> </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                            <%}%>
                                <%}%>
                        </div>
                </div>


                <script src="/js/script_create_sala.js"></script>
            </main>

            <%- include('includes/footer.ejs') %>